
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito Sans", sans-serif;
    overflow: visible;
}
:root{
    /* ## Colors */
/* 
### Neutral */
/* (Dark Mode Elements) */
--Dark-Blue: hsl(209, 23%, 22%);
/* (Dark Mode Background) */
--Very-Dark-Blue-background : hsl(207, 26%, 17%);
/* (Light Mode Text) */
--Very-Dark-Blue-text: hsl(200, 15%, 8%);
/* (Light Mode Input) */
--Dark-Gray : hsl(0, 0%, 52%);
/* (Light Mode Background) */
--Very-Light-Gray : hsl(0, 0%, 98%);
/* (Dark Mode Text & Light Mode Elements) */
--White : hsl(0, 0%, 100%);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    box-shadow:-1px -7px 15px 0px #020202 !important;
    text-align: center;
    padding: 20px 13px ;
    position: relative;
    z-index: 10;
}
.nav-bar-dark{
    background-color:var(--Dark-Blue);
    display: flex;
    justify-content: space-between;
    box-shadow:0px 4px 5px 0px #1f1f1f !important;;
    text-align: center;
    padding: 20px 13px ;
    position: relative;
    z-index: 10;
}
h4{
    font-weight: 800;
}
.themes{
    display: flex;
    align-items: center;
    gap:10px;
    cursor:pointer;
}
.themes img{
    fill : var(--White);
}
.themes p{
    margin-bottom: 0;
}
.dark-mode-texts {
    color:var(--White) !important
}
.section{
    background-color: var(--Very-Light-Gray);
}
.section-dark{
    background-color: var(--Very-Dark-Blue-background);
}
.main-layout{
    padding: 20px 0 ;
    display :grid ;
    grid-template-columns: repeat(4 , 21%);
    justify-content: center;
    gap:35px;
}
.card img {
    height: 170px;
    object-fit: cover;
}
.search-bar{
    display: flex;
    justify-content: space-between;
}
.select-style{
    padding: 0 2rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color:var(--Dark-Gray)
}